<div class="container">
<br>
<br>
<br>

<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Who are you?</h5>
    <p class="card-text">If you are Merchant or Employee.. please click here</p>
    <a href="#" class="btn btn-primary">Merchant</a>
    <a href="#" class="btn btn-primary">Employee</a>
  </div>
  <br>
</div>
</div>